{% extends 'home/base.html' %}

{% block title %}
    <title>{{ ship.name }}</title>
{% endblock %}

{% block body %}
<head>

    <!--
    .topline {background: #0d0d0d; height: 120px; border:2px solid #ffc107;}
    .shipdata {width: 100%; border:2px solid #ffc107;}
    td {height:25px; text-align: center; border:2px solid #ffc107; color:rgba(80, 130, 150, 1)}
    -->

    <style>
    th {color:#ffc107;}
    </style>

</head>
<body>

{% include 'ships/shipsearch.html' %}

    <table class="table table-borderless">
      <tbody>
        {% for x in ship %}
        <tr>
        {% for y in x %}
          <td>{{ y }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


</body>
{% endblock %}
